{{> header}}
<div class="container mb-5 mt-2">
  <h3 class="blue-grey-text text-darken-1">後台</h3>
  <h5 class="orange-text text-darken-4 mb-5" style="letter-spacing: 2px;">編輯景點資料</h5>
  <form class="form-create s12" action="/admin/spots/{{spot.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
    {{> admin-form}}
  </form>
</div>