<div class="row">
  <div class="input-field col s12">
    <i class="material-icons prefix">attractions</i>
    <input id="name" name="name" type="text" class="validate">
    <label for="name">Name</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s12">
    <i class="material-icons prefix">category</i>
    <select name="categoryId">
      {{#each categories}}
      <option value="{{this.id}}">{{this.name}}</option>
      {{/each}}
    </select>
    <label>Category Select</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s12">
    <i class="material-icons prefix">phone</i>
    <input id="tel" name="tel" type="text" class="validate">
    <label for="tel">Tel</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s12">
    <i class="material-icons prefix">place</i>
    <input id="address" name="address" type="text" class="validate">
    <label for="address">Address</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s6">
    <i class="material-icons prefix">schedule</i>
    <input id="opening_hours" name="openingHours" type="text" class="validate">
    <label for="opening_hours">Opening hours (24H)</label>
  </div>
  <div class="input-field col s6">
    <i class="material-icons prefix">watch_later</i>
    <input id="closed_hours" name="closedHours" type="text" class="validate">
    <label for="closed_hours">Closed hours (24H)</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s12">
    <i class="material-icons prefix">edit_note</i>
    <textarea id="description" name="description" class="materialize-textarea"></textarea>
    <label for="description">Description</label>
  </div>
</div>
<div class="row mt-3">
  <div class="col s12 offset-s5">
    <button class="waves-effect waves-light btn" type="submit" style="background: #e64a19;"><i class="material-icons right">send</i>Submit</button>
  </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    const elems = document.querySelectorAll('select');
    const instances = M.FormSelect.init(elems);
  });
</script>