<nav style="background-color: #0277bd;">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo ml-2">Ching Mai Travel</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">widgets</i></a>
    <ul class="right hide-on-med-and-down mr-2">
      <li><a href="/index">Home</a></li>
      {{#if user}}
        <li><a href="#">Backend</a></li>
        <li><a href="/logout">Logout</a></li>
      {{else}}
        <li><a href="/login">Admin Login</a></li>
      {{/if}}
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="/index">Home</a></li>
  {{#if user}}
    <li><a href="#">Backend</a></li>
    <li><a href="/logout">Logout</a></li>
  {{else}}
    <li><a href="/login">Admin Login</a></li>
  {{/if}}
</ul>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const elems = document.querySelectorAll('.sidenav')
    const instances = M.Sidenav.init(elems)
  })
</script>