<div class="container p-0 background-container">
  <div class="carousel">
    <a class="carousel-item" href="/index"><img src="https://i.postimg.cc/90bFZRdT/3-1.jpg"></a>
    <a class="carousel-item" href="/index"><img src="https://i.postimg.cc/FzrhrrMK/4.jpg"></a>
    <a class="carousel-item" href="/index"><img src="https://i.postimg.cc/zvVKy7r4/1-1.jpg"></a>
    <a class="carousel-item" href="/index"><img src="https://i.postimg.cc/Nj1T2L3G/2-1.jpg"></a>
    <a class="carousel-item" href="/index"><img src="https://i.postimg.cc/prsRpNvJ/5.jpg"></a>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
   const elems = document.querySelectorAll('.carousel');
   const instances = M.Carousel.init(elems, {
     indicators: true,
     padding: 200,
   })
 })
</script>