{{> header}}
<div class="container mt-3">
  <div class="row">
    <div class="col s12 m6 l4">
      <div class="card">
        <a href="#">
          <div class="card-image">
            <img src="https://i.postimg.cc/prHBcTmq/sam-moghadam-khamseh-0-EEKg-GOe3ps-unsplash.jpg" width="300" height="220">
          </div>
        </a>
        <div class="card-content center">
          <span class="card-title blue-grey-text text-darken-2">熱門討論</span>
        </div>
      </div>
    </div>
    {{#each categories}}
    <div class="col s12 m6 l4">
      <div class="card">
        <a href="#">
          <div class="card-image">
            <img src="{{this.image}}" width="300" height="220">
          </div>
        </a>
        <div class="card-content center">
          <span class="card-title blue-grey-text text-darken-2">{{this.name}}</span>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>